@using Soicheek.BL.ViewModels.Blog

<table class="table align-middle table-hover table-striped table-responsive">
    <thead class="">
        <tr>
            <th>Název</th>
            <th>Popis</th>
            <th class="text-center">Akce</th>
        </tr>
    </thead>
    <tbody class="">
        @if (Blogs.Count == 0)
        {
            <tr>
                <td colspan="3" class="table-active">Nebyly nalezeny žádná témata.</td>
            </tr>
        }
        @foreach (var blog in Blogs)
        {
            <tr>
                <td>@blog.Name</td>
                <td>@blog.Description</td>
                <td class="text-center">
                    <a class="btn btn-outline-info" href="Admin/Blog/Edit/@blog.BlogID">Editovat</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<BlogVM> Blogs { get; set; } = new List<BlogVM>();
}