@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Potvrzení obnovení hesla</PageTitle>


<section class="container-fluid py-5">
    <div class="container text-center py-5">
        <h1>Heslo bylo obnoveno</h1>
        <p>
            Prosím zkontrolujte si svou e-mailovou schránku.
        </p>
    </div>
</section>
