@page "/Account/InvalidPasswordReset"

<PageTitle>Neplatné obnovení hesla</PageTitle>


<section class="container-fluid py-5">
    <div class="container text-center py-5">
        <h1>Neplatné obnovení hesla</h1>
        <p>
            Odkaz pro obnovení hesla je neplatný.
        </p>
    </div>
</section>
