@page "/Account/InvalidUser"

<PageTitle>Nesprávný uživatel</PageTitle>

<section class="container-fluid py-5">
    <div class="container text-center py-5">
        <h3>Nesprávný uživatel</h3>
    </div>
</section>
<StatusMessage />
