@page "/Account/Lockout"

<PageTitle>Účet uzamčen</PageTitle>


<section class="container-fluid py-5">
    <div class="container text-center py-5">
        <h1 class="text-danger">Locked out</h1>
        <p class="text-danger">Tento uživatelský účet byl uzamčen. Zkuste to prosím později.</p>
    </div>
</section>