@page "/Account/ResetPasswordConfirmation"
<PageTitle>Potvrzení obnovení hesla</PageTitle>

<section class="container-fluid py-5">
    <div class="container text-center py-5">
        <h1>Potvrzení obnovení hesla</h1>

        <div class="row justify-content-center">
            <div class="col-md-5">
                <p>
                    Vaše heslo bylo obnoveno. <a href="Account/Login">Tady se můžete přihlásit</a>.
                </p>
            </div>
        </div>
    </div>
</section>