@inherits LayoutComponentBase

<NavMenu />
<main>
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<div class="footer-bg">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top align-bottom">
            <div class="col-md-4 d-flex align-items-center">
                <a class="mb-3 mb-md-0 text-light hide-link" href="Account/Login">© 2023</a>
            </div>
        </footer>
    </div>
</div>