@page "/Admin"

<PageTitle>Admin panel</PageTitle>

<section class="container-fluid py-5">
    <div class="container text-center py-5 text-white h1">
        <div class="row justify-content-center p-2">
            <div class="col-md-8 col-lg-5 bg-white border border-3 border-primary m-3 py-5 shadow-lg admin-btn" style="position: relative;">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <svg class="bi mx-3" width="60" height="60" fill="var(--bs-primary)">
                            <use href="images/bootstrap-icons/bootstrap-icons.svg#bookmark"></use>
                        </svg>
                    </div>
                    <div class="col-md-8 text-md-start p-2 text-primary">
                        <b>
                            Témata
                        </b>
                    </div>
                </div>
                <a href="/Admin/Blogs" class="stretched-link"></a>
            </div>
            <div class="col-md-8 col-lg-5 bg-white border border-3 border-primary m-3 py-5 shadow-lg admin-btn" style="position: relative;">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <svg class="bi" width="60" height="60" fill="var(--bs-primary)">
                            <use href="images/bootstrap-icons/bootstrap-icons.svg#brush"></use>
                        </svg>
                    </div>
                    <div class="col-md-8 text-md-start p-2 text-primary">
                        <b>
                            Zatím nic
                        </b>
                    </div>
                </div>
                <a class="stretched-link"></a>
            </div>
        </div>
    </div>
</section>


