.admin-btn:hover {
    animation: blur 0.5s 0s 1 normal;
}

@keyframes blur {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}
